<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Engineering Core Suite" parallel="methods" data-provider-thread-count="2" thread-count="1">
    <test name="Test Engineering Core_test">
        <classes>
            <class name="runner.TestRunnerIT"/>
        </classes>
    </test>
</suite>